
.open-sans-normal {
  font-family: "raleway", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* header style */



nav{
 margin:0px 150px;
}

nav ul li{
 list-style:none;

}

nav li{
 text-decoration:none;
}

nav ul{
 display:flex;
 justify-content:space-between;
  
}

.head-mid{
 margin:300px 500px;
 width:800px;
 height:230px;
 text-align:center;
 justify-content: center;
 
}



/* botton style */
.prim-btn{
  padding:7px 30px;
  border-radius:5px;
  background-color: blue;
  color:white;
  cursor: pointer;
  border:none;
}

button:hover{
  background-color: black;
}

.head-text{
  font-size:40px;
}

/* section1 */
.pic{
  border:5px;
  padding:20px;
  border:5px 0px 0px 5px solid black;
  border-radius:35px;
  
}

.divi{
  padding:10px;
}

.title{
  font-size:40px;
}

.first-sec{
  margin:81px 130px;
  display: flex;
  gap:250px;
  

  align-items: center;
  justify-content: center;
}
.descrip{
  color:rgb(111, 107, 107);
}

/* section2 */

.text{
  text-align: center;
}
.div-con{
  display:flex;
  gap:50px;
  text-align: center;
  justify-content: center;
}
.num{
  font-family:normal;
  font-size:50px;
  font-weight:bold;
  color: blue;

}
.tes{
  color:rgb(33, 32, 32);
}
.sec-two{
  margin:140px 500px;
  background-color:#d6e7ed;
}

/* section3 */

.user{
  
  font-size:35px;
}

.photo{
  border-radius:50px;
}
.divi-container{
  display: flex;
  gap:20px;
}
.section-three{
  margin:150px 500px;
  text-align:center;
  justify-content:center;

}
.pot{
  border:2px solid black;
  border-radius:10px;
  background-color: hsl(34, 50%, 94%);
  border:none;
}
/* sec4 */
.sec-four{
  display: flex;
  gap: 100px;
  margin:140px 500px;
  background-color:rgb(216, 206, 206);
}

.divo-con{
  gap:50px;

}

.bold{
  font-size:50px;
  padding:20px;
}

.form,textarea{
  padding:10px 20px;
  border-radius:7px;
  border:2px solid black;
  border: none;
  
}

.action{
  padding:20px;
}
.prim{
  padding:10px 60px;
  border:2px solid black;
  border-radius:5px;
  cursor: pointer;
  color: white;
  background-color:blue;
  border:none;
}

/* footer */
.logu{
  font-size:70px;
  font-weight:bold;
  color:blue;
  text-align: center;
}

.ptext{
  text-align: center;
}


ul li {
  
  list-style: none;

}
  

li {
  text-decoration:none;
}

ul{
  display: flex;
  text-align:center;
  justify-content: center;
  gap:40px;
}



